@import '../../scss exports/colors';

.options-wrapper > * {
    margin-bottom: 0.3em;
}

input {
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
    margin-top: 7px;
}

input[type='text'] {
    background-color: $bg-color-dark;
    border-radius: 4px;
    border: solid 1px $bg-color-dark-2;
    color: $text-color;
}
input[type='text']:focus {
    border: solid 1px $btn-color;
    outline: 0;
}

.btn {
    cursor: pointer;
    background-color: $btn-color;
    border-radius: 3px;
    border: none;
    color: $text-color-light;

    padding: 0.3em 0;
}

.btn:disabled, button[disabled] {
    cursor: auto;
    background-color: $bg-color-dark;
    border-radius: 3px;
    border: none;
    color: $text-color-light;
}

.btn:hover:enabled {
    background-color: $btn-color-hover;
    color: $text-color-light;
}

.btn-no-left-radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-no-right-radius {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: solid 1px $bg-color-dark-2;
}

.chart-option {
    display: grid;
    grid-template-columns: auto 20px;
}
