@import '../../scss exports/colors';

input {
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
    margin-top: 7px;
}

input[type='text'] {
    background-color: $bg-color-dark;
    border-radius: 4px;
    border: solid 1px $bg-color-dark-2;
}
input[type='text']:focus {
    border: solid 1px $btn-color;
    outline: 0;
}

.btn {
    cursor: pointer;
    background-color: $btn-color;
    border-radius: 3px;
    border: none;
    color: $text-color-light;
}

.btn:hover {
    cursor: pointer;
    background-color: $btn-color-hover;
    border-radius: 3px;
    border: none;
    color: $text-color-light;
}
