@import 'scss exports/colors';
@import 'scss exports/sizes';

body {
    display: flex;
    // background-color: $bg-color-light;
    background: linear-gradient(-90deg, $bg-color-light 0%, $bg-color-light-2 100%);
    margin: 0;
    padding: $body-padding;
    height: calc(100vh - 2 * $body-padding);
    width: calc(100vw - 2 * $body-padding);
}

#root {
    height: 100%;
    width: 100%;
}

#app {
    display: grid;
    gap: 10px;
    grid-template-columns: var(--options-width) 1px auto;
    height: 100%;
}

#block-dividers {
    cursor: row-resize;
}

#divider {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 10%;
}

.block {
    border-radius: 10px;
    // background-color: $block-color;
    overflow: overlay;
    padding: $block-padding;
}

