@import 'scss exports/colors';
@import 'scss exports/sizes';

body {
    display: flex;
    background-color: $bg-color-light;
    margin: 0;
    padding: $body-padding;
    height: calc(100vh - 2 * $body-padding);
    width: calc(100vw - 2 * $body-padding);
}

#root {
    height: 100%;
    width: 100%;
}

#app {
    display: grid;
    gap: 10px;
    grid-template-columns: var(--options-width) auto;
    height: 100%;

    background-color: $bg-color-light;
}

#block-dividers {
    cursor: row-resize;
}

.block {
    border-radius: 10px;
    background-color: $block-color;
    overflow: overlay;
    padding: $block-padding;
}
