@import 'scss exports/colors';
@import 'scss exports/sizes';

#main {
    display: grid;
    gap: 10px;
    grid-template-columns: var(--options-width) 1px auto;
    height: 100%;
}

#block-dividers {
    cursor: row-resize;
}

#divider {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 10%;
}

.block {
    border-radius: 10px;
    // background-color: $block-color;
    overflow: overlay;
    padding: $block-padding;
}

