@import '../../scss exports/sizes';

#charts-view {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.chart {
    background-color: white;
    border-radius: 4px;
    padding: 9px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10px auto;

    h3 {
        margin: 0
    }
}
